    @import "_mixin.scss";
    @import "common.scss";
    html,
    body {
        width: 100%;
        height: 100%;
    }
    
    .wrapper {
        width: 100%;
        height: 100%;
        @include box_flex;
        @include direction(column);
        header {
            width: 100%;
            height: pxTorem(44px);
            position: absolute;
            left: 0;
            @include box_flex;
            @include justify(space-between);
            @include align;
            padding: 0 pxTorem(10px);
            @include sizing;
            z-index: 9999;
            .icon:nth-child(1) {
                font-size: pxTorem(18px);
            }
            .top {
                @include box_flex;
                @include justify;
                @include align;
                li {
                    width: pxTorem(50px);
                    height: pxTorem(42px);
                    line-height: pxTorem(42px);
                    text-align: center;
                    font-size: pxTorem(16px);
                }
                li.active {
                    border-bottom: solid 2px #ccc;
                }
            }
            .icon:nth-child(3) {
                font-size: pxTorem(18px);
            }
        }
        section {
            @include flex;
            overflow-y: auto;
            .bannerImg {
                width: 100%;
                height: pxTore(376px);
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .list {
                padding: 0 pxTorem(15px);
                @include sizing;
                @include box_flex;
                @include justify(space-between);
                dl {
                    @include box_flex;
                    @include direction(column);
                    dd {
                        @include center;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
            .content {
                width: 100%;
                padding: pxTorem(15px);
                @include sizing;
                border-bottom: pxTorem(5px) solid #eee;
                h3 {
                    height: pxTorem(35px);
                    line-height: pxTorem(32px);
                    font-size: pxTorem(16px);
                    color: brown;
                }
                .cont {
                    @include box_flex;
                    @include justify(space-between);
                    @include flexWrap;
                    dl {
                        margin: pxTorem(10px) 0;
                        width: 30%;
                        @include box_flex;
                        @include direction(column);
                        dt {
                            width: 100%;
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                        dd {
                            line-height: pxTorem(30px);
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
            .hot {
                padding: pxTorem(15px);
                @include sizing;
                h3 {
                    height: pxTorem(35px);
                    line-height: pxTorem(35px);
                    font-size: pxTorem(16px);
                    color: brown;
                }
                .cont {
                    @include box_flex;
                    overflow-x: auto;
                    margin: pxTorem(10px) 0;
                    dl {
                        width: 30%;
                        margin: 0 pxTorem(10px);
                        @include box_flex;
                        @include align;
                        @include direction(column);
                        dd {
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
        footer {
            width: 100%;
            height: pxTorem(55px);
        }
    }